{% extends "base.html" %}
{% block title %}Homepage{% endblock %}
{% block content %}


{% if list_posts %}
<h2>List of places by date : </h2>
    <ul>
    
    {% for post in list_posts %}
        <li><a href="/place/{{ post.id }}/">{{ post.name }}</a> added : {{ post.date }} </li>
    {% endfor %}

    </ul>
{% else %}
    <p>No post are available.</p>
{% endif %}



{% if list_places_views %}
<h2>List of places by views : </h2>
    <ul>
    
    {% for post in list_places_views %}
        <li><a href="/place/{{ post.id }}/">{{ post.name }}</a> added : {{ post.date }} </li>
    {% endfor %}

    </ul>
{% else %}
    <p>No post are available.</p>
{% endif %}




{% endblock %}

